{% extends "layout.html" %}
{% block content %}
  <section class="section">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-12 order-md-2">
          <div class="pr-md-5">
            <div class="card-body">
              <h3 class="mb-1">Edit Job Post</h3>
              {% from 'includes/_formhelpers.html' import render_field %}
              <form role="form" class="mt-4" method="POST" action="">
                {% include 'includes/_messages.html' %}
                <div class="form-group">
                  <label for="exampleInputEmail1">Job Title</label>
                  {{ render_field(form.title, class_="form-control", placeholder="Job Title") }}
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Company</label>
                  {{ render_field(form.company, class_="form-control", placeholder="Company Name") }}
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Location</label>
                  {{ render_field(form.location, class_="form-control", placeholder="Job Location") }}
                </div>
                <div class="form-group mb-4">
                  <label for="exampleInputEmail1">Job Description</label>
                  {{ render_field(form.details, class_="form-control", placeholder="Job Description") }}
                </div>
                <div class="form-group mb-4">
                  <label for="exampleInputEmail1">Coding Task</label>
                  {{ render_field(form.coding_task, class_="form-control", placeholder="Coding Task") }}
                </div>
                <div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}